.button  {
  width : 100px;
}
.room{
  border : solid 1px;
  text-align : center;
  margin : 10px;
  padding : 5px;
  float : left;
}
#show-room-div table td{
  border : solid 1px;
}
#messanger {
  width : 275px;
  height : 410px;
  border : solid 1px;
  float : left;
  background-color : #8E7D7D;
}
#sending-message {
  margin: 3px;
  border : solid 1px;
  width : 267px;
  background-color : #FFFFFF;
}
#sending-message input{
  height : 20px;
}
#send-message {
  width : 50px;
}
#show-message{
  background-color : #FFFFFF;
  width : 268px;
  height : 350;
  border : solid 1px;
  margin : 3px;
}
#message{
  width : 200px;
  margin : 3px;
}
#typing{
  margin : 3px;
  height : 17px;
  width : 258px;
  padding-top : 0px;
}
#online-users{
  padding-left : 285px;
}
#leave-room-div {
  padding : 5px;
}
#leave-room-div input {
  width : 267px;
  height : 25px;
}
